
html {
    scroll-behavior: smooth;
  }
body {
    margin: 0;
}

.container {
    max-width: 1309px;
    padding: 0 15px;
    margin: 0 auto;
}

/* @font-face {
    font-family: 'Dimensions 700R';
    src: url('fonts/Dimensions-700R.woff2') format('woff2'),
        url('fonts/Dimensions-700R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'acumin';
    src: url('fonts/acumin.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-variation-settings: 'wght'300, 'wdth'65, 'slnt'0;
}

@font-face {
    font-family: 'dimensions';
    src: url('fonts/dimensions.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GoodBadMan';
    src: url('fonts/good-bad-man.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ThunderHouse';
    src: url('fonts/thunderhouse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

a:-webkit-any-link {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

ul {
    margin: 0;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed>li {
    margin-left: -18px;
    text-indent: -20px;
}

ul.dashed>li:before {
    content: "-";
    text-indent: -20px;
    padding-right: 55px;
}

li {
    line-height: 30px;
    font-size: 22px;
    letter-spacing: 1px;
}

.scroll-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    color: black;
    background-color: #FCF104;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    opacity: 80%;
}


/* -----header section start----- */
.head {
    text-align: center;
    font-family: "thunderhouse-pro";
}

.head {
    font-family: "thunderhouse-pro";
    padding: 30px 0;
}

.head ul {
    gap: 1%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color: black;
}

.head li {
    letter-spacing: 5px;
    font-size: 40px;
}

/* -----header section and----- */


/* ------main section start------ */


.main-title h1 {
    max-width: 100%;
    font-family: "dimensions";
    font-size: 380px;
    letter-spacing: 60px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-title h1::after {
    content: 'e';
    letter-spacing: 0;
}

.main-title h2 {
    font-family: "good-bad-man";
    white-space: pre-line;
    text-align: center;
    font-size: 50px;
    margin: 0;
    margin-bottom: 50px;
}

.main-title p {
    font-family: "acumin-variable";
    font-variation-settings: 'wght' 300, 'wdth' 65, 'slnt' 0;
    opacity: 60%;
    letter-spacing: 3px;
    font-size: 22px;
    text-align: center;
    max-width: 1300px;
    line-height: 30px;
}

.imega {
    display: flex;
    justify-content: center;
}

/* ------main section and------ */


/* ------info section start------ */

.info_title {
    max-width: 100%;
    font-family: "acumin-variable";
    font-variation-settings: 'wght' 300, 'wdth' 65, 'slnt' 0;
    letter-spacing: 3px;
    text-align: center;
}

p {
    font-size: 20px;
}

.ThunderHouse_font {
    font-family: "thunderhouse-pro";
    font-size: 75px;
}

/* ------info section start------ */


/*------ about section start------ */

.about_title h1 {
    font-family: "thunderhouse-pro";
    font-size: 75px;
    font-weight: 200;
    letter-spacing: 3px;
}

.basis {
    line-height: 30px;
    font-size: 20px;
}

.als {
    font-size: 20px;
}

.about_client {
    opacity: 80%;
    font-family: "acumin-variable";
    font-variation-settings: 'wght' 300, 'wdth' 65, 'slnt' 0;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 30px;
}

.about_title li {
    font-size: 20px;
}

/*------ about section and------ */

/************* Offer Section ***************/

.offer_title_box h2 {
    letter-spacing: 2px;
    font-size: 60px;
    font-weight: 400;
}

.offer_main_box {
    display: flex;
    padding-top: 50px;
}

.offer_main_box h3 {
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
    font-size: 140px;
}

.quotes_title {
    padding-left: 40px;
}

.quotes_title .acumin_font {
    letter-spacing: 1px;
    font-weight: bold;
    margin: -30px;
    font-size: 35px;
}

.offer_box {
    width: 60%;
}

.quotes_section {
    width: 33%;
    padding-top: 60px;
}

.value_box_pad {
    padding-bottom: 50px;
}

.offer_box .acumin_font {
    font-size: 19px;
}

.bg_color {
    background-color: #FCF104;
    display: inline;
    padding-bottom: 15px;
}
.bg_yellow {
    background-color: #FCF104;
}
.value_box_pad .thunderhouse {
    letter-spacing: 2px;
    font-size: 40px;
}

.bg_color .display_inline {
    display: inline;
}

.bg_color .acumin_font {
    font-size: 22px;
}

.info_title .text_start {
}
.info_title .d-table {
    display: table;
}

.value_box_pad p {
    display: contents;
}

.value_offer .dashed {
    display: block;
}

.letter_space1 {
    font-size: 21px;
    line-height: 35px;
    letter-spacing: 0;
}

.quotes_box p {
    letter-spacing: 1px;
    opacity: 80%;
    font-style: italic;
    font-size: 22px;
}

.quotes_box {
    padding-bottom: 50px;
}

/*********** Client Section ***********/

section.client_section {
    padding-top: 120px;
}

.client_container {
    margin: 0;
    background-color: #FCF104;
    border-radius: 15px;
}

.client_container {
    padding: 50px 50px 50px 50px;
}

h2 {
    margin: 0;
    font-size: 74px;
    letter-spacing: 8px;
}

.client_info {
    padding-top: 15px;
}

.client_box p {
    font-size: 22px;
    letter-spacing: 1px;
}

.work_title_box {
    padding-top: 35px;
}

.work_title {
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
}

.client_work h2 {
    font-size: 54px;
}

.client_work h3 {
    font-size: 40px;
    opacity: 90%;
}

.client_about {
    gap: 15%;
    padding: 0 40px 300px 40px;
    display: flex;
    align-items: center;
}

img {
    border-radius: 20px;
    max-width: 100%;
}

.client_about p {
    margin: 0;
    line-height: 30px;
    font-size: 20px;
}

.client_2 a {
    letter-spacing: 1px;
    font-size: 21px;
}

.client_2 p {
    line-height: 35px;
}

.img_straw {
    margin-top: -335px;
}

.img_straw img {
    width: 550px;
}

/********* Office Section *************/


.office_title h2 {
    padding-left: 20px;
    font-weight: 400;
}

.office_box {
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.office_img {
    width: 50%;
}

.office_info {
    font-size: 22px;
    width: 50%;
}

.office_client img {
    max-width: 63%;
}

.ceo_name {
    margin: 0;
    font-size: 30px;
    letter-spacing: 5px;
}

.office_client {
    padding: 35px 0 0 35px;
}

.office_img p {
    max-width: 600px;
}

.cea_info {
    font-size: 20px;
    margin: 0;
    line-height: 25px;
}

.img_info {
    margin: 0;
    font-size: 20px;
}

.font_style {
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 30px;
}

.office_info a {
    word-break: break-all;
}

.acumin_font p {
    font-size: 17px;
    line-height: 25px;
}

p.last_title {
    padding-top: 50px;
}

.normal_font {
    opacity: 90%;
    letter-spacing: 1px;
    font-family: none;
}

/************ Footer Section **************/


.foooter_end {
    padding: 50px 0;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 47.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
}

/************* Font Family Style **************/

.acumin_font {
    font-family: "acumin-variable";
    font-variation-settings: 'wght' 300, 'wdth' 65, 'slnt' 0;
}

.dimension {
    font-family: "dimensions";
}

.goodbadman {
    font-family: "good-bad-man";
}

.motherfather {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thunderhouse {
    font-family: "thunderhouse-pro";
}

.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo_list {
    display: flex;
    /* gap: 20px; */
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}
.logo_list img {
       /* max-width: 110px; */
       height: auto;
       border-radius: 0;
       width: 100%;
       max-height: 80px;
}

/********** Responsive *********/
@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .head li {
        letter-spacing: 3px;
        font-size: 25px;
    }

    .main-title h1 {
        font-size: 150px;
        letter-spacing: 50px;
    }

    .main-title h2 {
        font-size: 25px;
        letter-spacing: 5px;
    }

    .main-title p {
        letter-spacing: 2px;
        font-size: 16px;
        line-height: 26px;
    }

    p {
        font-size: 16px;
    }

    .info_title {
        letter-spacing: 1px;
    }

    .ThunderHouse_font {
        font-size: 50px;
    }

    .about_title h1 {
        font-size: 50px;
        letter-spacing: 2px;
    }

    .bg_color .acumin_font {
        font-size: 17px;
    }

    .basis {
        line-height: 27px;
        font-size: 18px;
    }

    .about_title li {
        font-size: 18px;
    }

    ul.dashed>li:before {
        padding-right: 30px;
    }

    .about_client {
        font-size: 16px;
        line-height: 26px;
    }

    .offer_main_box h3 {
        letter-spacing: 5px;
        font-size: 100px;
    }

    .offer_box .acumin_font {
        font-size: 16px;
    }

    .bg_color .thunderhouse {
        letter-spacing: 3px;
        font-size: 30px;
    }

    .letter_space1 {
        font-size: 16px;
        line-height: 25px;
    }

    .quotes_title .acumin_font {
        font-size: 30px;
    }

    .quotes_box p {
        font-size: 18px;
    }

    .quotes_section {
        width: 46%;
    }

    .offer_box {
        width: 54%;
    }

    .offer_box {
        width: 54%;
    }

    .client_container {
        padding: 15px;
    }

    h2 {
        font-size: 55px;
        letter-spacing: 4px;
    }

    li {
        line-height: 26px;
        font-size: 18px;
    }

    .client_box p {
        font-size: 18px;
    }

    .client_work h2 {
        font-size: 43px;
    }

    .work_title {
        letter-spacing: 2px;
    }

    .client_about {
        gap: 8%;
        padding: 0 30px 300px 30px;
    }

    .client_2 a {
        letter-spacing: 1px;
        font-size: 18px;
    }

    .office_img {
        width: 100%;
    }

    .office_info {
        font-size: 16px;
        width: 100%;
    }

    .cea_info {
        font-size: 16px;
        line-height: 22px;
    }

    .acumin_font p {
        font-size: 16px;
    }

    footer.footer_section {
        
    }

    .foooter_end {
        overflow: hidden;
        display: flex;
        align-items: center;
        font-size: 41.8px;
    }

    .office_client img {
        max-width: 75%;
    }

    .office_client img {
        max-width: 75%;
    }
    .logo_list img {
        max-height:50px;
 }
}



@media screen and (min-device-width: 992px) and (max-device-width: 1023px) {
    .head li {
        letter-spacing: 5px;
        font-size: 30px;
    }

    .main-title h1 {
        font-size: 255px;
        letter-spacing: 45px;
    }

    .main-title h2 {
        font-family: "good-bad-man";
        white-space: pre-line;
        text-align: center;
        font-size: 35px;
        margin: 0;
    }

    h2 {
        margin: 0;
        font-size: 74px;
        letter-spacing: 6px;
    }

    .offer_box {
        width: 100%;
    }

    .quotes_section {
        width: 80%;
        padding-top: 60px;
    }

    li {
        font-size: 18px;
    }

    .foooter_end {
        overflow: hidden;
        display: flex;
        font-size: 44.8px;
        align-items: center;
    }

    .footer_section {
        padding-bottom: 13%;
    }
    .logo_list img {
        max-height:50px;
 }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1200px) { 
    .main-title h1 {
        font-size: 260px;
        letter-spacing: 40px;
    }
    .head li {
        letter-spacing: 3px;
        font-size: 30px;
    }
    .logo_list img {
        max-height:60px;
 }
}

@media only screen and (max-width: 767px) {

    .head ul {
        flex-direction: column;
    }

    .head li {
        line-height: 35px;
        letter-spacing: 7px;
        font-size: 30px;
    }

    .scroll-to-top {
        bottom: 70px;
        right: 20px;
    }

    .dash {
        display: none;
    }

    .main-title h1 {
        font-size: 110px;
        letter-spacing: 10px;
    }

    .main-title h2 {
        font-size: 17px;
        line-height: 2;
    }

    .main-title p {
        letter-spacing: 1px;
        font-size: 15px;
        line-height: 25px;
    }

    p {
        font-size: 15px;
    }
    .bg_color .acumin_font {
        font-size: 15px;
    }
    .info_text_1 { font-size: 17px !important;}

    .ThunderHouse_font {
        font-family: "thunderhouse-pro";
        font-size: 40px;
    }

    .info_title {
        letter-spacing: 2px;
    }

    .about_title h1 {
        font-size: 30px;
        letter-spacing: 1px;
    }

    .about_title li {
        font-size: 15px;
    }

    .basis {
        line-height: 25px;
        font-size: 16px;
    }

    .about_client {
        font-size: 15px;
        line-height: 25px;
    }

    .offer_title_box h2 {
        text-align: center;
        font-size: 28px;
    }

    .offer_main_box {
        flex-direction: column;
    }

    .offer_box {
        width: 100%;
    }

    .quotes_section {
        width: 100%;
    }

    .offer_main_box h3 {
        text-align: center;
        font-size: 110px;
    }

    .offer_box .acumin_font {
        font-size: 15px;
    }

    .value_offer .thunderhouse {
        font-size: 35px;
    }

    .value_offer .acumin_font {
        font-size: 13px;
    }

    ul.dashed>li:before {
        padding-right: 15px;
    }

    .letter_space1 {
        font-size: 15px;
        line-height: 26px;
    }

    .quotes_title {
        padding-left: 0px;
    }

    .quotes_box p {
        font-size: 15px;
    }

    .quotes_box {
        padding-bottom: 25px;
    }

    .client_container {
        padding: 20px;
    }

    h2 {
        font-size: 24px;
        letter-spacing: 2px;
    }

    .client_about {
        padding: 20px 0px 250px 0px;
        flex-direction: column;
    }

    li {
        line-height: 26px;
        font-size: 16px;
    }

    .client_box p {
        font-size: 15px;
    }

    .client_work h2 {
        font-size: 30px;
    }

    .work_title {
        letter-spacing: 1px;
    }

    .client_work h3 {
        font-size: 19px;
    }

    .client_box p {
        font-size: 15px;
    }
    .acumin_font p {
        font-size: 15px;
    }

    .client_1 {
        padding-bottom: 30px;
    }

    .client_2 p {
        line-height: 28px;
    }

    .img_straw {
        margin-top: -220px;
    }

    .office_title h2 {
        padding-left: 15px;
    }

    .office_img {
        width: 100%;
    }

    .office_info {
        font-size: 15px;
        width: 100%;
    }

    .office_box {
        flex-direction: column;
    }

    .office_client {
        padding: 25px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .office_client img {
        max-width: 80%;
    }

    .ceo_name {
        font-size: 25px;
    }

    .cea_info {
        font-size: 15px;
    }

    .font_style {
        font-size: 25px;
    }

    .foooter_end {
        display: flex;
        overflow: hidden;
        align-items: center;
        letter-spacing: 0;
        font-size: 26.8px;
    }
    .logo_list img {
        max-height:50px;
 }
}